services:
  app:
    build: .
    container_name: knowledge-app
    ports:
      - "8080:80"
    volumes:
      - ../src:/var/www/html

      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf

      - ./php-fpm/www.conf:/etc/php-fpm.d/www.conf

      - ./supervisord/supervisord.conf:/etc/supervisord.conf

    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_DATABASE=knowledge
      - DB_USER=knowledge
      - DB_PASSWORD=secret
      - TZ=Asia/Tokyo
    restart: unless-stopped

  db:
    image: mysql:8.0
    container_name: knowledge-db
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: myappdb
      MYSQL_USER: appuser
      MYSQL_PASSWORD: appuserpass
      TZ: Asia/Tokyo
    volumes:
       - ./mysql/mysql-init:/docker-entrypoint-initdb.d
       - ../db:/var/lib/mysql
       - ../src/batch:/batch
    restart: unless-stopped

  weather-report: 
    build: .
    container_name: weather-report-cron
    ports:
      - "8081:80"
    volumes:
      - ../src:/var/www/html
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./php-fpm/www.conf:/etc/php-fpm.d/www.conf
      - ./supervisord/supervisord.conf:/etc/supervisord.conf
    environment:
      - DB_HOST=db
      - DB_DATABASE=knowledge
      - DB_USER=knowledge
      - DB_PASSWORD=secret
      - TZ=Asia/Tokyo
    entrypoint: ["php", "/var/www/html/script/get_wether.php"]

  daily-weather-stats: 
    build: .
    container_name: daily-weather-stats-cron
    ports:
      - "8082:80"
    volumes:
      - ../src:/var/www/html
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./php-fpm/www.conf:/etc/php-fpm.d/www.conf
      - ./supervisord/supervisord.conf:/etc/supervisord.conf

    environment:
      - DB_HOST=db
      - DB_DATABASE=knowledge
      - DB_USER=knowledge
      - DB_PASSWORD=secret
      - TZ=Asia/Tokyo

    entrypoint: ["php", "/var/www/html/script/get_daily_weather_stats.php"]